@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
// =============================================
// Mixin - Clearfix
// =============================================

// This mixin is intended to be applied to an :after pseudo-class. Example:
//  &:after {
//      @include clearfix;
//  }
@mixin clearfix-after {
    content: '';
    display: table;
    clear: both;
}
