@mixin link-color($color, $color-hover: $link-hover-color, $color-active: $link-hover-color) {
  color: $color;
  &:hover {
    color: $color-hover;
  }
  &.active, &:active {
    color: $color-active;
  }
}