<?xml version="1.0"?>
<config>
    <modules>
        <Boilerplate_Mage>
            <version>0.1.0</version>
        </Boilerplate_Mage>
    </modules>
    <global>
        <models>
            <boilerplate_mage>
                <class>Boilerplate_Mage_Model</class>
                <resourceModel>boilerplate_mage_resource</resourceModel>
            </boilerplate_mage>
            <boilerplate_mage_resource>
                <class>Boilerplate_Mage_Model_Resource</class>
            </boilerplate_mage_resource>
        </models>
        <blocks>
            <boilerplate_mage>
                <class>Boilerplate_Mage_Block</class>
            </boilerplate_mage>
            <checkout>
                <rewrite>
                    <links>Boilerplate_Mage_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <links>Boilerplate_Mage_Block_Wishlist_Links</links>
                </rewrite>
            </wishlist>
            <customer>
                <rewrite>
                    <account_navigation>Boilerplate_Mage_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <boilerplate_mage>
                <class>Boilerplate_Mage_Helper</class>
            </boilerplate_mage>
        </helpers>
        <resources>
            <boilerplate_mage_setup>
                <setup>
                    <module>Boilerplate_Mage</module>
                </setup>
            </boilerplate_mage_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <boilerplate_mage before="Mage_Newsletter">Boilerplate_Mage_Newsletter</boilerplate_mage>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
</config>