// Icons
// --------------------------

.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-clander:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-secure:before { content: '\e80a'; } /* '' */
.icon-arrow-right:before { content: '\e80b'; } /* '' */
.icon-cart:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-arrow-up:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-credit-cards:before { content: '\e810'; } /* '' */
.icon-arrow-down:before { content: '\e811'; } /* '' */
.icon-envelope:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-instagram:before { content: '\e814'; } /* '' */
.icon-arrow-left:before { content: '\e815'; } /* '' */
.icon-urgent:before { content: '\e816'; } /* '' */
.icon-heart-empty:before { content: '\e817'; } /* '' */
.icon-close:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e801'; } /* '' */