// Fontello font generator icons
// @see: http://fontello.com/
// remember to include fontello stylesheet in ./scss/_font.scss file first
@mixin make-font-icon($code, $pseudo: before) {

  &:#{$pseudo} {
    content: $code;
    @extend .font-icon;
  }
}

.font-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@mixin icon-cycle($size: 1em, $border: 1px solid, $font-size:$font-size-base) {
  font-size: $font-size;
  box-sizing: content-box;
  border-radius: 50%;
  border: $border;
  //border-color:$border-color;
  width: $size;
  height: $size;
  line-height: $size;
  //background-color: $backgroud-color;
  text-align: center;
  //color: $color;
  &:hover {
    //color: $color-hover;
    //background-color: $background-color-hover;
  }
}
