// Variables
// --------------------------

// global
$icon-css-prefix: icon default;



// icons
$icon-var-pinterest: '\e802';
$icon-var-search: '\e803';
$icon-var-basket: '\e804';
$icon-var-left-open: '\e805';
$icon-var-right-open: '\e807';
$icon-var-calendar: '\e808';
$icon-var-heart: '\e809';
$icon-var-secure: '\e80a';
$icon-var-arrow-right: '\e80b';
$icon-var-cart: '\e80c';
$icon-var-clock: '\e80d';
$icon-var-arrow-up: '\e80e';
$icon-var-location: '\e80f';
$icon-var-credit-cards: '\e810';
$icon-var-arrow-down: '\e811';
$icon-var-envelope: '\e812';
$icon-var-facebook: '\e813';
$icon-var-instagram: '\e814';
$icon-var-arrow-left: '\e815';
$icon-var-urgent: '\e816';
$icon-var-heart-empty: '\e817';
$icon-var-close: '\e818';
$icon-var-up: '\e800';
$icon-var-down: '\e801';