# ==================================== #
# Magento Boilerplate .gitignore file. #
#                                      #
#  Copyright (c) 2014 Webcomm Pty Ltd  #
#                                      #
# This file is tested on:              #
#  - Magento CE 1.6.2.0                #
#  - Magento CE 1.7.0.0                #
#  - Magento CE 1.7.0.1                #
#  - Magento CE 1.7.0.2                #
#  - Magento CE 1.8.0.0                #
#  - Magento CE 1.8.1.0                #
#                                      #
# ==================================== #



# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
# Part A: Ignore all files that        #
#         probably shouldn't be in     #
#         version control              #
# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
#
# You shouldn't need to edit these
# files at all unless a Magento
# upgrade breaks this. These files are
# in alphabetical order.

# modgit modules
.modgit

# modgit modules
.modman

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish

# Phpstorm project files
.idea

# Composer
/composer.json
/composer.lock
/vendor

# SEO
/robots.txt
/sitemap.xml

# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
# Part B: Ignore some standard Magento  #
#         files.                       #
# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
#
# You shouldn't need to edit these
# files at all unless a Magento
# upgrade breaks this. These files are
# in alphabetical order. The ignores
# are setup so that in Part C onwards
# you usem minimal code to setup
# your ignores.

# .htaccess files
/.htaccess.sample
/.htaccess
/.htaccess.dist

# Downloader
/downloader


# Errors
#/errors/.htaccess
#/errors/404.php
#/errors/503.php
#/errors/default
#/errors/design.xml
/errors/local.xml
/errors/local.xml.sample
#/errors/processor.php
#/errors/report.php


# Misc files
!/includes
/includes/*
!/includes/.htaccess
!/includes/config.php


# Licences
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt

# App
/app/etc/local.xml
/app/etc/config.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template




# Media
!/media
/media/*
!/media/.htaccess
!/media/boilerplate


# Misc files
/php.ini.sample
/RELEASE_NOTES.txt

# Skin

# Skin adminhtml

# Skin frontend


# Var folder
/var


# ==================================== #
# Part C: Reference all extensions     #
#         that are required by this    #
#         theme that should be under   #
#         version control.             #
# ==================================== #
#
# You need to include all files for
# extension. Each extension's files
# should be kept together so it is
# easy to find them in future if need
# be.


# ==================================== #
# Part D: Setup your theme overrides   #
# ==================================== #
#
# This is where you include your theme
# overrides in app/design/frontend and
# skin/frontend

# Boilerplate Theme
!/app/design/frontend/boilerplate
!/skin/frontend/boilerplate


# ==================================== #
# Part F: Theme   #
# ==================================== #

# If you want to be very clever, you
# will duplicate 'mytheme', as it
# inherits all styling from 'boilerplate'
# and makes upgrading easier!
!/skin/frontend/boilerplate/
/skin/frontend/boilerplate/*
!/skin/frontend/boilerplate/default
/skin/frontend/boilerplate/default/*
!/skin/frontend/boilerplate/default/*
!/skin/frontend/boilerplate/default/src/*
/skin/frontend/boilerplate/default/dist


# ==================================== #
# Part E: ignore modman folder   #
# ==================================== #
/.modman
