/* ============================================ *
 * Catalog - Product
 * ============================================ */

/* -------------------------------------------- *
 * -- Product view page
 */

.product-view {
  @extend .container-fluid;
}

// Essential (media + shop)

.product-essential {
  @include make-row();
  .product-shop {
    @include make-sm-column(5);
  }
  .product-img-box {
    @include make-sm-column(7);
  }
}

/* -------------------------------------------- *
 * -- Product View - Actions
 */

.product-view {

  .add-to-box:after,
  .add-to-cart:after {
    @include clearfix;
  }

  .add-to-cart {
    padding-bottom: 3px;
    margin-bottom: 10px;
    &:after {
      @include clearfix-after;
    }
    //@include clearfix();
  }

  .add-to-cart .qty-wrapper,
  .add-to-cart .qty-wrapper label {
    margin-right: 7px;
    float: left;
  }

  .add-to-cart .qty-wrapper label {
    line-height: 34px;
  }

  .add-to-cart .qty-wrapper select,
  .add-to-cart .qty-wrapper input {
    .qty {
      float: left;
      height: 34px;
      width: 3.8em;
      display: inline-block;
      padding-left: $padding-base-horizontal/2;
      padding-right: $padding-base-horizontal/2;
    }
  }

  .add-to-cart-buttons {
    float: left;
    margin-right: 10px;
    max-width: 100%; // Constrain width in Firefox

    .paypal-logo {
      clear: left;
      text-align: center;

      .paypal-button {
        margin: 0 auto;
        display: block;
        width: 170px;
      }

      .bml_button {
        display: block;
        width: 174px;
        margin: 0 auto;

        a {
          text-align: center;
        }
      }

      .paypal-or {
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        line-height: 1;
        text-align: center;
      }
    }
  }

  .add-to-cart-buttons .button {
    float: left;
  }

  .alert-price,
  .alert-stock {
    clear: both;
  }

  /* This is the "or" that separates the "Add to Cart" and "Add to X" links */
  .add-to-box .or {
    display: none;
  }

}

/* -------------------------------------------- *
 * -- Product View - Product Essential
 */


.product-view {
  .product-essential {

    .extra-info {
      .ratings {
        .rating-box,
        .amount {
          float: left;
        }

        .rating-box {
          margin-top: 8px;
          margin-right: 10px;
        }

        &:after {
          @include clearfix;
        }
      }
    }

    &:after {
      @include clearfix;
    }
  }

  .product-shop .product-name .h1,
  .product-img-box .product-name h1 {
    margin-bottom: 10px;
    border: 0;
  }

  .product-shop {

    text-align: center;

    .product-name {
      display: none;
    }
    .product-name .h1 {
      margin-bottom: 5px;
    }

    .extra-info {
      float: left;
      padding-right: 30px/2;
      clear: left;
      width: 70%;
    }

    .price-info {
    }

    .extra-info,
    .price-info {
      margin-bottom: 10px;
    }

    .short-description {
      margin-bottom: 10px;
      clear: both;
    }

    .ratings {
      margin-bottom: 8px;
    }

  }
}


.price-box.map-info a {
  display: inherit;
}



/* -------------------------------------------- *
 * -- Product Name
 */
@media (min-width: $grid-float-breakpoint) {

  .product-view .product-shop .product-name {
    display: block;
  }
  .product-img-box .product-name {
    display: none;
  }
}

/* -------------------------------------------- *
 * -- Additional Links
 */

.product-view .add-to-links {

  &:after {
    @include clearfix-after;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 2px 7px 2px 0px;
    margin-left: 7px;
  }

  li:first-child a {
    margin-left: 0px;
  }

  li:last-child a {
    border-right: 0px;
  }
}

/* -------------------------------------------- *
 * -- Social Links
 */

.social-buttons {
  margin-top: $line-height-computed;

  @include clearfix();
  li {
    float: left;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

/* -------------------------------------------- *
 * -- Product Media
 */

.product-img-box {

  .product-image img {
    max-width: 100%;

    // Since product detail page images are not cropped to a specific aspect ratio, in order to make the image not
    // cut off on tall skinny screens, we are setting a max-height on the image
    max-height: 750px;

    // Centering the image for instances where max-height kicks in
    margin: 0px auto;
  }

}

.product-image-gallery {
  position: relative;

  .gallery-image {
    display: none;

    &.visible {
      display: block;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}

.more-views {
  margin-top: 20px;
  h2 {
    margin: 0;
    @include hide-text();
  }
}

.product-image-thumbs {
  li {
    display: inline-block;
  }
  li:first-child {
    margin-left: -1px;
  }
  a {
    display: inline-block;
    border: 1px solid transparent;
  }
}

.no-touch .product-image-thumbs {
  a:hover {
    border-color: darken(#EDEDED, 15%);
  }
}

/* -------------------------------------------- *
 * -- Product Collateral
 */

.product-collateral {
  @media (max-width: $grid-float-breakpoint-max) {
    @include accordion;
    @include accordionCollapse;
  }
  @media (min-width: $grid-float-breakpoint) {
    @include tabs;
  }

  .collateral-tabs {
    dd {
      h2 {
        display: none;
      }
    }
  }
}

/* -------------------------------------------- *
 * -- Product Options
 */
.product-options {
  @extend .well;
  @extend .well-sm;
  margin-bottom: ($line-height-computed / 2);
  position: relative;

  dl {
    margin: 0;
  }
  dt {
    padding-top: 10px;
    font-weight: normal;

    label {
      margin-bottom: 0;
      font-weight: bold;

      &.required em {
        margin-left: 2px;
        color: $alert-danger-text;
      }
    }

    .qty-disabled {
      background: none;
      border: 0;
      padding: 3px;
    }
  }
  dd .qty-holder {
    display: block;

  }
  dd .qty-holder label {
    vertical-align: middle;
  }
  dd {
    padding: 5px 0 10px 5px;
    border-bottom: 1px solid $hr-border;

    .input-text,
    select,
    textarea {
      @extend .form-control;
    }

    select[multiple],
    textarea {
      height: auto;
    }
  }
  dl.last dd.last {
    border-bottom: 0;
    margin-bottom: 0;
  }
  ul.options-list {
    margin-bottom: 0;

    input.radio {
      float: left;
      margin-top: 3px;
    }
    input.checkbox {
      float: left;
      margin-top: 3px;
    }
    .label {
      display: block;
      margin-left: 18px;
    }
    label {
      font-weight: normal;
    }
  }
  ul.validation-failed {
    padding: 0 7px;
  }
  p.note {
    margin: 0;
    font-size: $font-size-small;
  }
  p.required {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* -------------------------------------------- *
 * -- Product Options bottom
 */
.product-options-bottom {
  @extend .well;
  @extend .well-sm;

  /* "display: none" should be removed if products on site have a long list of product options and those product options */
  /*  affect the price so that the customer can see the updated price close to the "Add to Cart" button */
  .price-box {
    display: none;
    float: right;
    margin: 0 0;
    padding: 0;
  }
}

// Override for when product options are shown in
// the product shop section (simple products
// with options).
.product-shop {
  .product-options dt label.required em {
    margin-left: 0;
    margin-right: 2px;
  }
  .product-options-bottom {
    margin: 0 0 10px;

    .price-box {
      float: none;
      margin: 0 0 5px;
    }
    .price-label {
      float: none;
      padding-right: 0;
    }
    .price-tax {
      float: none;
    }
    .add-to-cart-box {
      clear: both;
      float: left;
      padding-top: 12px;
    }
    .add-to-links {
      clear: both;
    }
  }
}

/* -------------------------------------------- *
 * -- Product -Grouped Products
 */
.product-view .grouped-items-table {
  .price-box {
    margin: 0;
  }

  .qty {
    width: auto;
  }
}


/* -------------------------------------------- *
 * -- Product Attributes
 */
.product-view .box-additional {
  padding: 0;

  > h2 {
    margin: 0;
  }

  .data-table {
    border: 0;
    margin-bottom: 0;

    > tbody > tr {
      > th {
        border-left: 0;
      }
      > td {
        border-right: 0;
      }

      &.first {
        > th,
        > td {
          border-top: 0;
        }
      }

      &.last {
        > th,
        > td {
          border-bottom: 0;
        }
      }
    }
  }
}

/* -------------------------------------------- *
 * -- Product - Upsell products
 */
.product-view .box-up-sell {
  .table-responsive {
    padding: 15px 0;
  }
  .products-grid {
    margin: 0;
    width: 100%;

    td {
      width: 25%;
      padding: 0 ($grid-gutter-width / 2);
      vertical-align: top;
    }

    .product-image,
    .price-box {
      margin-bottom: ($line-height-computed / 2);
    }

    .ratings {
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-sm) {
    .products-grid {
      min-width: 500px;
      > tbody > tr {
        > th,
        > td {
          white-space: normal;
        }
      }
    }
  }
}

// Tags
.product-view .box-tags {
  margin: 0;

  .product-tags li {
    display: inline;
    white-space: nowrap;
    margin: 0 6px;
  }

  .note {
    margin: 0;
    text-align: center;
  }
}

// Reviews
.product-view .box-reviews {
  dt {
    padding-top: 15px;
    font-weight: normal;

    a,
    span {
      font-weight: bold;
    }
  }
  dd {
    @include clearfix();
    padding-bottom: 15px;
    border-bottom: 1px solid $hr-border;

    .ratings-table {
      float: left;
      margin-right: 10px;
    }

    small {
      font-style: italic;
    }
  }

  .form-add {

    h3 {
      margin-top: 0;
      font-size: $font-size-base;
      font-weight: normal;

      span {
        font-weight: $headings-font-weight;
      }
    }

    // Make the h4 act like a label
    h4 {
      display: inline-block;
      position: relative;
      margin-bottom: 5px;
      font-size: $font-size-base;
      font-weight: bold;

      em {
        float: right;
        position: absolute;
        top: 0;
        right: -8px;
        color: $alert-danger-text;
      }
    }

    td.value {
      text-align: center;

      .radio {
        display: inline;
        margin: 0;
        padding: 0;
        height: ($line-height-computed);
      }
    }

    @media (max-width: $screen-sm) {
      form {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 15px;
        border: 1px solid $table-border-color;
      }
    }
  }
}

// Product Tags
.tags-list {
  margin: 0;
  padding: 10px;

  li {
    display: inline !important;
    margin: 0 3px;
  }
}

