/* ============================================ *
 * Search Input
 * ============================================ */

#search_mini_form .input-box {
  position: relative;
  padding-top: 0;
}

#search_mini_form label {
  display: none;
}

#search {
  width: 100%;
  padding-right: 40px;
}

#search_mini_form .search-button {

  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;

  // hide button text
  span {
    display: none;
  }
  // add button search
  @include make-fontello-icon('\e803');

}
