/* ======================================================== *
 * PRODUCT LIST (Category + Search Results)
 * ======================================================== */

/* ============================ *
 * PRODUCT LIST COMMON
 * ============================ */

.category-products {
}

/* ============================ *
 * PRODUCT GRID
 * ============================ */

.products-grid {
  @include make-row(20px);

  .item {
    @include make-xs-column(12, 20px);
  }
  img {
    @include img-responsive();
  }
}

/* ============================ *
 * 3 columns max
 * ============================ */

@media (min-width: 360px) {
  @include make-product-grid(3, 2);
}

@media(min-width: $screen-tablet) {
  @include make-product-grid(3, 3);
}

/* ============================ *
 * 4 columns max
 * ============================ */

@include make-product-grid(4, 2);

@media(min-width: $screen-tablet) {
  @include make-product-grid(4, 3);
}

@media(min-width: $screen-desktop) {
  @include make-product-grid(4, 4);
}

/* ============================ *
 * 5 columns max + widget
 * ============================ */

@include make-product-grid(5, 2, "widget");

@media(min-width: $screen-tablet) {
  @include make-product-grid(5, 3, "widget");
}

@media(min-width: $screen-desktop) {
  @include make-product-grid(5, 5, "widget");
}


/* ============================ *
 * 6 columns max
 * ============================ */

@media (min-width: 360px) {
  @include make-product-grid(6, 2);
}

@media(min-width: $screen-tablet) {
  @include make-product-grid(6, 3);
}

@media(min-width: $screen-desktop) {
  @include make-product-grid(6, 6);
}


// product item

.item {
  .item-inner {
    position: relative;
  }
  .product-name {
    white-space: normal;
    margin: 0;
    font-size: $font-size-base;
    font-weight: bold;
    a {
      @include link-color($gray);
    }
  }

  .product-info {
    padding-top: .5em;
    text-align: center;
    margin-top: 10px;
    border-top:1px solid $gray;
  }

  .price-box {
    margin-top: 2px;
    font-size: 16px;
    font-weight: normal;
  }
  .link-wishlist, .product-badge {
    position: absolute;
    z-index: 1;
    top: 8px;
    //font-size: 13px;
    @include not-selectable;
  }

  .link-wishlist {
    left: 8px;
    @include make-font-icon($icon-var-heart-empty);
    &:before {
      //@include link-color($gray, $pink);
      font-size: 22px;
    }
  }

  .product-badge {
    right: 30px;
    text-transform: uppercase;
    color: $white;
    font-weight: bold;
    padding: .2em 10px .1em;
    &.sale {
      border-radius: 12px;
      //background-color: $sale-color;
    }
    &.new {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      //background-color: $new-color;
      //@include arrow-lazy(left, 12px, $new-color);
      position: absolute;
    }
  }

  &:hover {
    .link-wishlist {
      &:before {
        //color: $pink;
      }
    }
  }
}

// Products grid
.products-grid {

  .item {
    background-color: $white;
    margin-bottom: 20px;
    position: relative;

    .item-inner {
      position: static;
    }

    .product-image {
      display: block;
      position: relative;
      img {
      }

      .hover-image {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        height: auto;
      }
    }

    .price-box {
      margin-top: 5px;
    }

    .add-to-links {

      .separator {
        display: none;
      }
    }

    .link-wishlist {
      left: 30px;
    }

    .product-info {

    }

    .product-item-actions {

    }
    .action {

    }

    .btn-cart {
      display: block;
      width: 90%;
      font-weight: bold;
      margin: 0 auto;
      font-size: 16px;
    }

    // hover box effect for prodct item

    @media (min-width: $grid-float-breakpoint) {

      .product-image {
        // TODO-SR: set product item image with for wide screens
        width: 95%;
        margin: 0 auto;
      }
      &:hover {
        z-index: 2;
        .item-inner {
          margin: -20px -10px;
          padding: 19px 9px;
          border: 1px solid #bbb;
          box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
          position: relative;
          z-index: 2;
          background: #fff;
        }
        .product-item-inner {
          display: block;
        }
        .product-badge, .link-wishlist {
          top: 27px;
        }
        .product-badge {
          right: 29px;
        }

        .link-wishlist {
          left: 29px;
          &:before {
            //color: $pink;
          }
        }
      }

      .product-item-inner {
        display: none;
        position: absolute;
        left: 0;
        right: -1px;
        z-index: 2;
        background: #fff;
        padding: 0 9px 9px 9px;
        margin: 9px 0 0 -1px;
        border: 1px solid #bbb;
        border-top: none;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
      }
      .product-item-actions {
        margin: 0 0 10px;
        background-color: $white;
      }
    }
  }
}

/* ============================ *
 * PRODUCT LIST
 * ============================ */

.products-list {
  li.item {
    @include clearfix();
    padding: ($line-height-computed / 2) 0;
    border-bottom: 1px solid $hr-border;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .product-image {

    img {

    }
  }

  .product-shop {
    margin-left: 160px;
  }

  .add-to-links {

    li {
      display: inline;
    }

    .separator {
      display: inline;
      margin: 0 4px;
    }
  }
}

/* ============================================ *
 * Mini Product List
 * ============================================ */

.mini-products-list {

  .product-image {
    float: left;
    min-width: 50px;
  }
  .product-details {
    margin-left: 60px;
  }

  // Vertically center product name
  .product-details .product-name {
    padding: 0;
  }

  li {
    &:after {
      @include clearfix-after;
    }

  }
}

.mini-products-images-list {

  &:after {
    @include clearfix;
  }

  li.item {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 5px 10px 0;

    &:nth-child(even) {
      padding-right: 0;
      padding-left: 5px;
    }

    .product-image {
      display: block;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

