// nav positions (sides, bottom, top, left, right)
.slidesshow-nav-pos-sides {

  .slideshow-nav {
    margin-top: -.5em;
    top: 50%;
    line-height: 1;
    z-index: 1000;
    position: absolute;
  }

  .slideshow-nav-next {
    right: 0;
  }
  .slideshow-nav-prev {
    left: 0;
  }
}

.slideshow-wrapper {
  position: relative;
  width: 100%;
}

.slideshow {
  .slide {
    width: 100%;
  }
  img {
    @include img-responsive;
  }
}

.slideshow-nav {
  cursor: pointer;
  @include not-selectable;
}

.slideshow-nav-next {
  @include make-fontello-icon('\e818');
}

.slideshow-nav-prev {
  @include make-fontello-icon('\e80e');
}

.cycle-fx-carousel {
  .slideshow-nav {
    margin-top: -.5em;
    line-height: 1;
    top: 50%;
    position: absolute;
    z-index: 100;
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
}