<?xml version="1.0"?>
<config>
    <modules>
        <Boilerplate_Catalog>
            <version>0.1.0</version>
        </Boilerplate_Catalog>
    </modules>
    <global>
        <models>
            <boilerplate_catalog>
                <class>Boilerplate_Catalog_Model</class>
                <resourceModel>boilerplate_catalog_resource</resourceModel>
            </boilerplate_catalog>
            <boilerplate_catalog_resource>
                <class>Boilerplate_Catalog_Model_Resource</class>
            </boilerplate_catalog_resource>
        </models>
        <blocks>
            <boilerplate_catalog>
                <class>Boilerplate_Catalog_Block</class>
            </boilerplate_catalog>
        </blocks>
        <helpers>
            <boilerplate_catalog>
                <class>Boilerplate_Catalog_Helper</class>
            </boilerplate_catalog>
        </helpers>
        <resources>
            <boilerplate_catalog_setup>
                <setup>
                    <module>Boilerplate_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </boilerplate_catalog_setup>
            <boilerplate_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boilerplate_catalog_read>
            <boilerplate_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boilerplate_catalog_write>
        </resources>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <hover_image/>
                </attributes>
            </collection>
        </product>
    </frontend>

</config>