# No node modules are required
node_modules

bower_components/*
!bower_components/jquery
bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js


