header[role="banner"] {


  // header containers
  .header-container {
    @extend .container;
  }

  // header wrappers
  .header-main {
    border-bottom: 1px solid $border-color;

    .account-cart-wrapper {
      float: right;
    }
  }

  .breadcrumbs-container {

  }

  @media (min-width: $screen-sm) {
    .form-language {
      .form-control {
      }
    }
    .links {

    }
  }

}




/** MASTHEAD **/
.header-masthead {

}

/** MAIN **/
.header-main {
  .logo {
    h1 {
      margin: 0;
      font-size: $font-size-base;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    .logo {

      line-height: 1;
      position: relative;
      z-index: 1;
      float: left;
    }

    #search_mini_form {
      float: right;
    }

    .quick-access {
      float: right;
      clear: right;
    }


  }
}

// Quick Access
.quick-access {
  .top-link-cart {
    @include make-font-icon('\e804', before);
  }
  .top-links-wishlist {
    @include make-font-icon('\e806', before);
  }
}
