<?xml version="1.0"?>
<config>
    <modules>
        <Boilerplate_BootstrapNavigation>
            <version>0.1.1</version>
        </Boilerplate_BootstrapNavigation>
    </modules>
    <global>
        <blocks>
            <bootstrapnavigation>
                <class>Boilerplate_BootstrapNavigation_Block</class>
            </bootstrapnavigation>
            <page>

                <!-- Rewrite the topmenu to ours so we can add our custom classes -->
                <rewrite>
                    <html_topmenu>Boilerplate_BootstrapNavigation_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>

            </page>
        </blocks>
        <helpers>
            <bootstrapnavigation>
                <class>Boilerplate_BootstrapNavigation_Helper</class>
            </bootstrapnavigation>
        </helpers>
        <models>
            <bootstrapnavigation>
                <class>Boilerplate_BootstrapNavigation_Model</class>
                <resourceModel>boilerplate_bootstrapnavigation_resource</resourceModel>
            </bootstrapnavigation>
            <bootstrapnavigation_resource>
                <class>Boilerplate_BootstrapNavigation_Model_Resource</class>
            </bootstrapnavigation_resource>
            <catalog>
                <rewrite>
                    <observer>Boilerplate_BootstrapNavigation_Model_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <bootstrapnavigation_setup>
                <setup>
                    <module>Boilerplate_BootstrapNavigation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bootstrapnavigation_setup>
            <bootstrapnavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bootstrapnavigation_read>
            <bootstrapnavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bootstrapnavigation_write>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_category_collection_load_before>
                <observers>
                    <bootstrapnavigation>
                        <type>singleton</type>
                        <class>bootstrapnavigation/observer</class>
                        <method>catalogCategoryCollectionLoadBefore</method>
                    </bootstrapnavigation>
                </observers>
            </catalog_category_collection_load_before>
        </events>
    </frontend>
    <default>
        <catalog>
            <navigation>
                <max_depth>2</max_depth>
                <top_in_dropdown>1</top_in_dropdown>
                <top_in_dropdown_prefix>All</top_in_dropdown_prefix>
                <top_in_dropdown_suffix></top_in_dropdown_suffix>
            </navigation>
        </catalog>
    </default>
</config>
