@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Brand colors
// -------------------------

$brand-primary:         #f15c22;

// Iconography
// -------------------------



// COMPONENT VARIABLES
// --------------------------------------------------

// Popovers
// -------------------------
$popover-max-width:                   400px;

// PATH
// --------------------------------------------------

$img-folder-path:    '../img/';
