@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//== Colors
//

$black: #000;
$white: #fff;
$border-color : $gray;


//== Images
//

$img-folder-path:    '../images/';



//== Navbar
//
//##

// Basics of a navbar
$navbar-default-bg:                transparent !default;
$navbar-default-border:            transparent !default;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

// invert button
$btn-invert-color:                $black;
$btn-invert-bg:                   $white;
$btn-invert-border:               $black;
$btn-invert-hover-color:          $white;
$btn-invert-hover-bg:             $black;