@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";

.input-group-btn {
    vertical-align: top;
}
.input-group-addon {
    border:0 none;
    label {
        margin-bottom: 0;
        font-weight: normal;
    }
}


