@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";

.pages {
    > ol {
        @extend .pagination;
    }
    > strong {
        display: none;
    }
}

.pages a,
.pages span {

}

.pages .active,
.pages .active:hover {

}

.pages {
    .next, .previous {
        @include hide-text();
        &:before {
            @extend .font-icon;
            font-size: $font-size-base;
        }
    }
    .next {
        &:before {
            content: $icon-var-arrow-right;
        }
    }
    .previous {
        &:before {
            content: $icon-var-arrow-left;
        }
    }
}

