
/* ============================================ *
 * Slideshow
 * ============================================ */

.slideshow-wrapper {
  position: relative;
  width: 100%;
}


.slideshow-container {
  position: relative;
  display: block;
  width: 100%;
  //margin: $gap 0;
  //border: 1px solid $c-module-border-light;

  .slideshow {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
    & > li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0;
      display: block;
      margin: 0;

      // in case script does not load
      &:first-child {
        position: static;
        z-index: 100;
      }

      img {
        @include img-responsive();
      }
    }
  }
}

/** ################### PAGER ################### **/

.slideshow-pager {
  text-align: center;
  width: 100%;
  z-index: 115;
  position: absolute;
  bottom: 0px;
  top: auto;
  overflow: hidden;
  @include not-selectable;

  span {
    font-family: arial;
    width: 44px;
    height: 44px;
    display: inline-block;
    color: #DDDDDD;
    cursor: pointer;
    $pager-size: 16px;

    &:before {
      content: '';
      display: block;
      width: $pager-size;
      height: $pager-size;
      left: 50%;
      top: 50%;
      //margin-left: (-$pager-size/2);
      //margin-top: (-$pager-size/2);
      border-radius: 1px;
      background-color: #FFFFFF;
      position: relative;
    }

    &:hover:before {

    }

    &.cycle-pager-active:before {

    }
  }

  & > * {
    cursor: pointer;
  }
}

/** ################### NAVIGATION ################### **/

.slideshow-prev,
.slideshow-next {
  position: absolute;
  top: 0;
  width: 15%;
  max-width: 80px;
  height: 100%;
  opacity: 0.6;
  z-index: 110;
  cursor: pointer;
  @include not-selectable();

  &:before {
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    z-index: 110;
    position: absolute;
    left:50%;
    margin-left: -.5em;
  }

  &:hover {
    opacity: 1;
  }

  &.disabled {
    @include opacity(0.5);
    cursor: default;
  }
}


.slideshow-prev {

  left: 0;

  @include make-font-icon('\e805');

  &:hover:before {
  }
}

.slideshow-next {
  right: 0;

  @include make-font-icon('\e807');

  &:hover:before {

  }
}

.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 110;
}

.cycle-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 120;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}

.cycle-fx-carousel {
  .slideshow- {
    margin-top: -.5em;
    line-height: 1;
    top: 50%;
    position: absolute;
    z-index: 100;
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
}