/* ============================================ *
 *  TOOLBAR
 * ============================================ */

$toolbar-height: auto;

.toolbar {
  @include clearfix();
}

.pager-no-toolbar {

}

// This will apply to the bottom toolbar
.pager-no-toolbar ~ .pager-no-toolbar {

}

.toolbar label,
.pager-no-toolbar label {

}

// ----------------------------------------------
// ## Sorter

.sorter {
  float: left;
  padding: $padding-base-vertical 0;
  label {
    float: left;
    margin-right: 5px;

    &:after {
      content: ':';
    }
  }
}


.sorter > .sort-by {
  float: left;
  margin-right: 5px;
  height: $toolbar-height;
  select {
    float: left;

  }
  label {
    @include hide-text();
    margin-right: 0;
  }
  .sort-by-switcher {
    @include hide-text();
    display: inline-block;

    &:before {
      font-size: $font-size-base;
      @extend .font-icon;
    }
    &--asc {
      &:before {
        content: $icon-var-arrow-up;
      }
      &:hover {

      }
    }
    &--desc {
      &:before {
        content: $icon-var-arrow-down;
      }
      &:hover {

      }
    }
  }
}

.sorter > .view-mode {
  margin-bottom: 0;
  float: right;

  label {
    @include hide-text();
  }
  .grid,
  .list {
    float: left;
    width: 30px;
    height: $toolbar-height;

  }
  .grid {
    margin-right: 5px;

  }
  strong.grid,
  a.grid:hover {

  }
  .list {

  }
  strong.list,
  a.list:hover {

  }
}



// ----------------------------------------------
// ## Pager

.pager {
  float: right;

  & > .count-container {
    padding: $padding-base-vertical $padding-base-horizontal;
    float: left;
  }

  .amount {
    float: left;
    /*font-family: $f-stack-sans;*/
    white-space: nowrap;
    margin: 0 15px 0 0;
  }

  .limiter {
    float: left;
    height: $toolbar-height;
    line-height: $toolbar-height;

    & > label {
      @include hide-text();

    }
  }

  .amount,
  .limiter,
  .pages {

  }
}

.toolbar {

  .pages {
    float: right;
    > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}




// ----------------------------------------------
// ## Toolbar Top



// ----------------------------------------------
// ## Toolbar Bottom

.toolbar-bottom {

  .pages {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


