<?xml version="1.0"?>
<config>
    <modules>
        <Boilerplate_Social>
            <version>0.1.0</version>
        </Boilerplate_Social>
    </modules>
    <global>
        <models>
            <boilerplate_social>
                <class>Boilerplate_Social_Model</class>
                <resourceModel>boilerplate_social_resource</resourceModel>
            </boilerplate_social>
            <boilerplate_social_resource>
                <class>Boilerplate_Social_Model_Resource</class>
            </boilerplate_social_resource>
        </models>
        <blocks>
            <boilerplate_social>
                <class>Boilerplate_Social_Block</class>
            </boilerplate_social>
        </blocks>
        <helpers>
            <boilerplate_social>
                <class>Boilerplate_Social_Helper</class>
            </boilerplate_social>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <boilerplate_social>
                    <file>boilerplate/social.xml</file>
                </boilerplate_social>
            </updates>
        </layout>
    </frontend>
</config>